{% extends 'base.html.twig' %}

{% block body %}
    <div id="message"></div>
    <button id="help-me" type="button">
        Aidez-moi!
    </button>
    <script src="{{ asset('js/socket.io.js') }}"></script>
    <script type="application/javascript">
        (function(d){
            var msgbox = d.getElementById('message');
            var socket = io.connect(window.location.protocol+'//'+window.location.hostname+':9998');
            d.getElementById('help-me').addEventListener('click', function(){
                socket.emit('message', 'such wow!!!');
            });
            socket.on('message', function(msg) {
                console.info(msg);
            });
        })(document);
    </script>
{% endblock %}

