{% extends 'base.html.twig' %}

{% block title 'Aidez-moi !' %}

{% block body_id 'button' %}

{% block body %}
    <button id="cool" type="button">Cool !</button>
    <button id="help-me" type="button">Rien pigé…</button>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/socket.io.js') }}"></script>
    {{ parent() }}
    <script type="application/javascript">
        (function(d){
            initButtonInteraction(d);
        })(document);
    </script>
{% endblock %}

