{% extends 'reveal.html.twig' %}

{% block title 'Présentation' %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            <section>
                <a href="{{ path('presentation', {'name': 'sf4'}) }}">
                    <img src="{{ asset('img/orbitale.svg') }}" alt="Orbitale logo" class="noborder" style="width:750px;height:750px;">
                </a>
            </section>
        </div>
    </div>
{% endblock %}
