{% extends 'reveal.html.twig' %}

{% block title 'Présentation' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
        }
    </style>
{% endblock %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            <section>
                <a href="{{ path('presentation', {'name': 'sf4'}) }}">
                    <img src="{{ asset('img/orbitale.svg') }}" alt="Orbitale logo" class="noborder" style="width: 50%;">
                </a>
            </section>
        </div>
    </div>
{% endblock %}
