{% extends 'reveal.html.twig' %}

{% block title 'Présentation' %}

{% block body %}
    <div class="reveal">
        <div class="slides">
            {{ include(presentation_slides) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">(function(d){initPresentation(d);})(document);</script>
{% endblock %}
